body {
  background-color: #333;
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  position: relative;
}

h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
  border-radius: 4px;
}

.cell:hover {
  background-color: #555;
}

.endgame {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.endgame .text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Modal Styles */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #555;
}
